.inputcontainer {
    /* background-color: yellow; */
    display:flex;
    flex-direction:column ; 
    width:470px;
    height:78px;
    gap:10px;
}
.form_label{
     
color: #6f6f6f;
    font-size: 16px;
     font-family: 'Lato', sans-serif;
}
.form_input {
padding:12px;
border-radius:4px;
border:1px solid black;
height:48px;
width:468px;
font-size:16px;
font-family: 'Lato', sans-serif;
color:#1E1E1E;
gap:4px;
}