.homework_03_wrapper{

display:flex;
/* На всю страницу: */
flex:1;
background-color: aqua;
margin:20 px;
padding:20px;
gap:30px;
align-items: center;
justify-content: center;

}
.buttons_container{
display:flex;
width:100%;
flex-direction:column;
gap: 30px;

}
.button_control{
    width:300px;
}